

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');


.quicksand-regular {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand-medium {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-semibold {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}



.raleway-medium> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


/* shared style */

.primary-clr01{
    color: rgba(254, 163, 1, 1);
}

.primary-clr02{
   color: rgba(1, 172, 253, 1);
}

.primary-clr03{
    color: rgba(5, 212, 223, 1);
}

.primary-clr04{
    color: rgba(93, 88, 239, 1);
}


.primary-clr05{
   color: rgba(255, 255, 255, 1);
}

.primary-clr06{
    color: rgba(17, 17, 17, 1);
}

.primary-clr07{
    color: rgba(135, 0, 255, 1);
}

/* nav-style */

.header-container{
    

}


.nav-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
 
}

#nav-logo{
    width: 62px;
    height: 62px;
    margin-right: 5px;
}

.logo-title{
    font-size: 1.6rem;
}



#nav-page-link li{
    margin-right: 40px;
    font-size: 1rem;
    line-height: 30%;
  
}

#nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    padding-inline-start: 0px;
}



nav ul li{
    list-style: none;
    
}

nav li > a{
    text-decoration: none;
}


.nav-btn{
 font-size: 1rem;
 line-height: 30%;
 letter-spacing: 0;
 background-color: rgba(254, 163, 1, 1);
 padding: 20px 60px;
 border-radius: 12px;
 border: none;

}


/* Banner-styles */

.banner-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
     align-items: center;


}

.banner-details{
   
}

.banner-details h1{
    font-size: 2.8rem;

}

#banner-info{
    font-size: 1rem;
    line-height: auto;
    letter-spacing: 0px;
    margin-top: 19.2px;
    color:  rgba(17, 17, 17, 1);
}


#desk-br{
    display: block;
}

#mobile-br{
    display: none;
}




.banner-btn{
    background-color:  rgba(17, 17, 17, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: 0%;
    padding: 12px 60px;
    border: none;
    border-radius: 10px;
    margin-top: 19.2px;
}


/* Curriculum section styles */
#curriculum-section{
width: 100%;
background-image: url("assets/bg.png") ;
background-repeat: no-repeat;
background-position: top;
margin-left: auto;
margin-right: auto;


}


.curriculum-container{
    text-align: center;
}

.card-container{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
    justify-content: center;
    margin-top: 60px;
    
    
}

.curriculum-heading{
    font-size: 2.3rem;
    line-height: 50px;
    letter-spacing: 0%;
}

.card-kinder{
    border: 1px solid rgba(222, 245, 255, 1);
    background-image: linear-gradient( 180deg, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 1) 20%);
    border-radius: 10px;
    width: 293px;
    height: 380px;.

}


#kinder-img{
    width:108px ;
    height: 108px;
    margin-top: 40px;
}

.card-elementary{
    border: 1px solid rgba(255, 244, 220, 1);
    background-image: linear-gradient( 180deg, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 1) 20%);
    border-radius: 10px;
    border-radius: 10px;
    width: 293px;
    height: 380px;
}

#elementary-img{
    width: 112px;
    height: 112px;
    margin-top: 40px;

}

.card-middle{
    border: 1px solid rgba(242, 232, 255, 1);
    background-image: linear-gradient( 180deg, rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 1) 20%);
    border-radius: 10px;
    border-radius: 10px;
    width: 293px;
    height: 380px;
}

#middle-img{
    width: 112px;
    height: 112px;
    margin-top: 40px;

}

.card-heading{
    font-size: 1.2rem;
    line-height: 30.7px;
    letter-spacing: 0%;
    margin-top: 28px;
}


.card-description{
    color: rgba(128, 128, 128, 1);
    font-size: 0.9rem ;
    margin-top: 28px;
}

.card-readmore{
    margin-top: 28px;
    font-size: 0.75rem;

}

#kinder-readmore{
    color: rgba(1, 172, 253, 1);
}

#elementary-readmore{
    color: rgba(254, 163, 1, 1);
}

#middle-readmore{
    color: rgba(135, 0, 255, 1);
}


.curriculum-btn-container{
    margin-top: 60px;
    
}

.navigation-btn{
    border: none;
    background-color: rgba(254, 163, 1, 1); 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
   
    
}

#btn-left{
    margin-right: 10px;
   

}


















@media only screen and (max-width: 576px) {

    .nav-container{
        display: none;
    }


    .banner-details h1{
    font-size: 1.8rem;
    }

    #banner-info{
        font-size: 0.74rem;
        line-height: 10px;
    }

    #desk-br{
        display: none;
    }

    #mobile-br{
        display: block;
    }
 


    .banner-img img{
        width: 330px ;
        height: 413px;
    }

 
    .banner-container{
        flex-direction: column-reverse;
        text-align: center;

    }

    .banner-btn{
        font-size: 0.8rem;
        padding: 6px 24px;
        margin-bottom: 70px;
    }

    .card-container{
        flex-direction: column;
        margin-top: 20px;
        gap: 15px;

    }

    .curriculum-heading{
    font-size: 1.8rem;

    }

    .curriculum-btn-container{
        display: none;
    }

    

}

